@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .hover-underline-animation {
    display: inline-block;
    position: relative;
  }

  .hover-underline-animation:hover {
    color: #B24934;
  }

  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -2px;
    left: 0;
    background-color: #B24934;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }



  .range-slider {
    position: relative;
    width: 100%;
    height: 5px;
    margin: 30px 0;
    background-color: #8a8a8a;
  }

  .range-slider input {
    position: absolute;
    width: 100%;
    background: none;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    appearance: none;
  }

  .range-slider input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid white;
    background: white;
    appearance: none;
    cursor: pointer;
    box-shadow: 0 .125rem .5625rem -0.125rem rgba(0, 0, 0, .4);
  }

  .range-slider input[type="range"]::-webkit-slider-thumb:hover {
    background: white;
  }

  .range-slider input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid white;
    background: white;
    pointer-events: auto;
    -moz-appearance: none;
    cursor: pointer;
    box-shadow: 0 .2rem .5rem -0.2rem rgba(0, 0, 0, .4);
  }

  .tooltip {
    padding: .25rem .5rem;
    border: 0;
    background: #373f50;
    color: white;
    font-size: .75rem;
    line-height: 1.2;
    border-radius: .25rem;
    bottom: 120%;
    display: block;
    position: absolute;
    text-align: center;
    white-space: nowrap;
  }

  .loader {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    position: relative;
  }

  .loader::after {
    content: "";
    border: 4px solid #c8877a;
    border-top-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .animation-slide {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
  }

  .animation-slide.slide-down {
    animation: slideDown 0.5s ease forwards;
  }

  .animation-slide.slide-up {
    animation: slideUp 0.5s ease forwards;
  }

  @keyframes slideDown {
    from {
      max-height: 0;
    }

    to {
      max-height: 2000px;
    }
  }

  @keyframes slideUp {
    from {
      max-height: 2000px;
    }

    to {
      max-height: 0;
    }
  }

}